<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Skills Form</title>
</head>
<body>
<form action="form" method="post">
    <label for="name"><strong>Name:</strong></label>
    <br>
    <input type="text" id="name" name="name" />
    <br><br>
    <label for="favorite"><strong>My favorite language:</strong></label>
    <br>
    <select name="favorite" id="favorite">
        <th:block th:each="language : ${languages}">
            <option th:text="${language}"></option>
        </th:block>
    </select>
    <br><br>
    <label for="second"><strong>My second favorite language:</strong></label>
    <br>
    <select name="second" id="second">
        <th:block th:each="language : ${languages}">
            <option th:text="${language}"></option>
        </th:block>
    </select>
    <br><br>
    <label for="third"><strong>My third favorite language:</strong></label>
    <br>
    <select name="third" id="third">
        <th:block th:each="language : ${languages}">
            <option th:text="${language}"></option>
        </th:block>
    </select>
    <br><br>
    <button name="submit">Submit</button>
</form>
</body>
</html>